{%  load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <h1>Atualizar Produto</h1>
    {% if produto %}
    <form action="{% url 'atualizar'  produto.id%}" method="post" class="form" autocomplete="off">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ produto.id }}">
        {{ form.as_p }}
        <button type="submit" name="action_edit">Atualizar Produto</button>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </form>
    {% endif %}
</body>
</html>