/* Definições de estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  /* Estilo para o cabeçalho */
  h1 {
    text-align: center;
    color: #333;
  }
  
  /* Estilo para o formulário */
  .form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo para os campos do formulário */
  label {
    display: block;
    margin-bottom: 10px;
    color: #333;
  }
  
  input[type="text"],
  input[type="number"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  /* Estilo para o botão de enviar */
  button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #444;
  }
  table {
    margin: 50px auto;
    border-collapse: collapse;
    width: 80%;
  }
  
  table th {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 16px;
  }
  
  table td {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
  }
  
  table td p {
    margin: 0;
  }
  
  table td a,a{
    display: block;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    background-color: #333;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
  }
  
  table td a:hover {
    background-color: #444;
  }
  
  /* Estilo para o link "Adicionar produto" */
  a[href="{% url 'produto' %}"] {
    display: block;
    margin: 50px auto;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
  }
  
  a[href="{% url 'produto' %}"]:hover {
    background-color: #444;
  }
  a{
    display: inline-block;
    padding: 5px;
  }